html, body, #root {
    min-height: 100vh;
}

#root {
    display: flex;
    flex-direction: column;
}

.spacer {
    flex-grow: 1;
}

header {
    background-color: var(--primary);
    color: #000; /* Change text color to black */
}

header h1 {
    font-family: serif;
}

header > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    & a {
        color: #000; /* Change link color to black */
        font-family: 'Roboto', sans-serif; /* Change font to Roboto or any desired font */
        font-weight: 500; /* Adjust font weight as needed */
        font-size: 16px; /* Adjust font size as needed */
        text-transform: uppercase; /* Optionally, transform text to uppercase */
    }

    & nav ul {
        list-style-type: none;
        display: flex;
        gap: 2rem;
        align-items: center;

        & li {
            display: inline;
        }
    }

    & nav.mobile {
        position: relative;
        &:hover {
            & ul {
                display: flex !important;
            }
        }
        & .menu {
            position: absolute;
            top: 100%;
            right: 0;
            background-color: var(--primary);
            border-radius: 0 0 .5rem .5rem;
            & ul {
                display: none;
                flex-direction: column;
                padding: 0 2rem;
            }
        }
    }
}

main {
    padding: 1rem;
    flex-grow: 1;

    & > * > section {
        &:not(:first-child), &:not(:last-child) {
            margin: 2rem 0;
        }
    }
}

footer {
    border-top: 3px solid var(--primary);
    box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.2);
}

#footer-items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;

    @media screen and (max-width: 800px) {
        grid-template-columns: 1fr;
    }
}

.footer-item-socialmedia {
    margin-top: 20px; /* Adjust the margin as needed */
}

.footer-item-socialmedia h4 {
    font-size: 18px;
    margin-bottom: 10px;
}

.footer-item-socialmedia a {
    display: inline-block;
    margin-right: 10px; /* Adjust the spacing between icons */
}

.footer-item-socialmedia a svg {
    width: 30px; /* Adjust the icon size as needed */
    height: 30px;
    fill: #0f0e0e; /* Change the color of the icon */
    transition: fill 0.3s ease; /* Add a smooth transition effect */
}

.footer-item-socialmedia a:hover svg {
    fill: #1a1aaa; /* Change the color on hover */
}
