/* YourComponent.css or styles.css */
.logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px; /* Initial width */
    height: auto; /* Automatically adjust height */
}

@media screen and (max-width: 600px) {
    .logo {
        width: 1px; 
        height:1px;/* Adjust width for mobile screens */
    }
}

/* Adjust styles for the mobile navigation menu */
.mobile {
    position: fixed;
    top: 0;
    right: 0; /* Align to right corner */
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 1000;
    overflow-y: auto;
    padding-top: 50px; /* Adjust padding to accommodate fixed header */
}

.menu {
    padding-top: 20px; /* Adjust padding for menu content */
}

/* Adjust styles for the menu icon */
.icon {
    position: fixed;
    top: 10px;
    right: 10px; /* Align to right corner */
    z-index: 1001;
}