@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --bg: #ececec;
    --primary: #292eb8;
    --card: #1a1aaa;
    --font-main: "Inter";
    --shadow: 3px 3px 5px rgba(0,0,0,0.3);
}